@import "tailwindcss";

:root {
  --font-sans: var(--font-montserrat);
}

h1, h2, h3, p {
  @apply m-0 leading-none;
}

h1 {
  @apply font-[500]
  text-[24px]
  sm:text-[30px]
  md:text-[32px]
  lg:text-3xl
  text-green;
}
h2 {
  @apply font-[400]
  text-[18px]
  sm:text-[22px]
  md:text-[26px]
  lg:text-2xl
  text-walnut;
}
h3 {
  @apply font-[300]
  text-[16px]
  sm:text-[18px]
  md:text-[20px]
  lg:text-xl
  text-dark-teal;
}
p {
  @apply 
  font-[300]
  text-[14px] 
  sm:text-[16px]
  md:text-[17px]
  lg:text-lg
  text-green;
}
a{
    @apply text-dark-cyan
    hover:text-golden-orange
    transition-colors duration-200;
}
