@import "tailwindcss";
@import "./components/core/footer.css";
@import "./components/core/header.css";
@import "./components/typography.css";

@theme inline {
  --color-green: #256d1b;
  --color-walnut: #5b3000;
  --color-ink-black: #001219;
  --color-dark-teal: #005f73;
  --color-dark-cyan: #0a9396;
  --color-wheat: #e9d8a6;
  --color-golden-orange: #ee9b00;
  --color-burnt-caramel: #ca6702;
  --color-rusty-spice: #bb3e03;
  --color-oxidized-iron: #ae2012;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
  margin: 0;
  padding: 0;
}
